.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    padding-top: 1%;

}

.navigation>div {
    display: flex;
}

.nav-home {
    color: white;
    margin-left: 20%;
    cursor: pointer;
}

.nav-fx {
    color: white;
    margin-right: 20%;
    gap: 1rem;
    cursor: pointer;
}
