.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid red;
}

.navigation>div {
    display: flex;
}

.nav-home {
    margin-left: 20%;
}

.nav-fx {
    margin-right: 20%;
    gap: 1rem;
}
